body {
    background-image: url('../images/site-bg.jpg');
}

.header {
    margin-top: 10px;
    
    &-bar {
        
        &--info {
            text-align: right;
            
            &-title {
                display: block;
            }
            
            &-footer {
                display: block;
                font-style: italic;
            }
        }
        
        &--brand {
            //display: block;
            width: 120px;
            height: 120px;
            border: 2px solid yellow;
            border-radius: 50%;
            text-align: center;
            padding: 0;
            //position: relative;
            background: white;
            
        }
    }
}

.brand-inner-circle {
    border: 1px solid grey;
    border-radius: 50%;
    width: 90%;
    height: 90%;
    padding: 0;
    margin: 5.8px auto;
    background-image: url('../images/profile.jpg');
}

#brand-image-1 {
    width: 100%;
    z-index: -1000;
    border-radius: 50%;
}