body {
    background-image: url('../images/site-bg.jpg');
    color: #626267;
}

.header {
    margin-top: 5px;

    &-bar {
        
        &--container {
            &--info {
                text-align: right;
                margin-right: 5px;
                padding-top: 20px;

                &-title {
                    display: block;
                    font-weight: bold;
                    font-size: 18px;
                }
                
                &-footer {
                    display: block;
                    font-style: italic;
                }
            }
            
            &--brand {
                //display: block;
                width: 120px;
                height: 120px;
                border: 2px solid #E9C46A;
                border-radius: 50%;
                text-align: center;
                padding: 0;
                //position: relative;
                background: white;
                margin-top: 0;
                
            }
        }
        
        &--container--brand:hover {
            cursor: pointer;
            // background: #00BFB3;// #0471A6;
            // border: none;
            border-color: #00BFB3;
            opacity: 0.5;
            
            // .brand-inner-circle {
            //     border:2px solid #E9C46A;
            // }
        }
    }
}

@keyframes moveRight {
  0% {
    width: 0%;
  }
  25% {
    width: 20%;
  }
  50% {
    width: 40%;
  }
  75% {
    width: 60%;
  }
  100%{
    width: 80%;
  }
}

#header-divider {
    display: block;
    visibility: hidden;
    height: 1px;
    border: 0; 
    border-top: 1px solid #00BFB3;
    margin: 1em auto; 
    padding: 0;
    transition: all .2s;
}

.brand-inner-circle {
    border: 1px solid #FFFC99;
    border-radius: 50%;
    width: 95%;
    height: 95%;
    padding: 0;
    margin: 2.9px auto;
    background-image: url('../images/profile.jpg');
}

#brand-image-1 {
    width: 100%;
    z-index: -1000;
    border-radius: 50%;
}

/* Device = Greater than smartphones */

.main {
    width: 70%;
    margin: 2px auto;
    
    &-dropdown { //visible only on smaller screens
        display: none;
    }
    
  &-sidebar {

      &--items{
        margin: 10px auto;
        border: 1px solid #E9C46A;
        min-height: 300px;
        padding: 30px;
        border-radius: 30px;
        border-top-left-radius: 0;
        list-style: none;

        li {
            border-bottom: 1px solid #E9C46A;
            padding: 5px 1px;
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
            
            i {
                font-size: 1.5em;
                color: #E9C46A;
                width: 30px;
                height: 30;
                text-align: center;
            }
        }
        
        li:hover {
            border-bottom: 2px solid #00BFB3;
            cursor: pointer;
            
            i {
                color: #00BFB3;
            }
            
        }
      }
  }
}
  

.main-content {
    margin: 10px auto;
    border: 1px solid #E9C46A;
    min-height: 300px;
    border-radius: 30px;
    border-top-right-radius: 0;
    padding: 30px;
    
}


.footer-container {
    margin: 10px auto;
    width: 70%;
    
    .fa, .far, .fas, .fab {
        margin: 0;
        padding: 0;
        font-size: 3em;
        line-height: 1.5em;
    }
    
    .fa:hover, .fab:hover, .fas:hover, .far:hover {
        color: #00BFB3;
    }
    
    &--icon1, &--icon2, &--icon3 {
        border: 1px solid #E9C46A;
        display: inline-block;
        margin: 0 auto;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        text-align: center;
        color: #E9C46A;
    }
    
    &--icon2 {
        margin: 0 -25px;
    }
    
    a:link, a:visited {
        color: inherit;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 0px) and (max-width: 590px) {
  
  .main {
      width: 100%;
      margin: 0;
      padding: 0;
      
      
      &-dropdown {
          display: block;
          margin-left: 2.5%;

          .dropdown-toggle {
              background: $primaryColor;
              border-color: $primaryColor;
          }
          
          .dropdown-toggle::after {
              display: none;
          }
          
          .dropdown-menu {
              background-image: url('../images/site-bg.jpg');
              border-color: $primaryColor;
              
              
              a:hover {
                  i {
                      color: $tertiaryColor;
                  }

              }
              
              a:visited {
                  color: #626267;
                  
              }
          }
      }
      
      
      &-sidebar {
          display: none;
          
          &--items{
            margin: 10px auto;
            border: 1px solid #E9C46A;
            min-height: 300px;
            border-radius: 30px;
            border-top-right-radius: 0;
            padding: 30px;
          }
      }
      
      &-content {
        border-radius: 15px;
        padding: 15px;
        width: 90% !important;
      }
  }
  
  .footer-container { 
      width: 70%;
      
       &--icon1, &--icon2, &--icon3 {
            width: 50px;
            height: 50px;
       }
       
       .fa, .far, .fas, .fab {
        margin: 0;
        padding: 0;
        font-size: 2em;
        line-height: 1.5em;
    }
    
  }
  
}




