body {
  background-image: url("../images/site-bg.jpg");
  color: #626267; }

.header {
  margin-top: 5px; }
  .header-bar--container--info {
    text-align: right;
    margin-right: 5px;
    padding-top: 20px; }
    .header-bar--container--info-title {
      display: block;
      font-weight: bold;
      font-size: 18px; }
    .header-bar--container--info-footer {
      display: block;
      font-style: italic; }
  .header-bar--container--brand {
    width: 120px;
    height: 120px;
    border: 2px solid #E9C46A;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    background: white;
    margin-top: 0; }
  .header-bar--container--brand:hover {
    cursor: pointer;
    border-color: #00BFB3;
    opacity: 0.5; }

#header-divider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #00BFB3;
  margin: 1em 0;
  padding: 0; }

.brand-inner-circle {
  border: 1px solid #FFFC99;
  border-radius: 50%;
  width: 95%;
  height: 95%;
  padding: 0;
  margin: 2.9px auto;
  background-image: url("../images/profile.jpg"); }

#brand-image-1 {
  width: 100%;
  z-index: -1000;
  border-radius: 50%; }

/* Device = Greater than smartphones */
.main {
  width: 70%;
  margin: 2px auto; }
  .main-sidebar--items {
    margin: 10px auto;
    border: 1px solid #E9C46A;
    min-height: 300px;
    padding: 30px;
    border-radius: 30px;
    border-top-left-radius: 0;
    list-style: none; }
    .main-sidebar--items li {
      border-bottom: 1px solid #E9C46A;
      padding: 5px 1px;
      font-weight: 400;
      font-size: 18px;
      line-height: 20px; }
      .main-sidebar--items li i {
        font-size: 1.5em;
        color: #E9C46A;
        width: 30px;
        height: 30;
        text-align: center; }
    .main-sidebar--items li:hover {
      border-bottom: 2px solid #00BFB3;
      cursor: pointer; }
      .main-sidebar--items li:hover i {
        color: #00BFB3; }

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 768px) {
  .main-sidebar {
    display: none; }
    .main-sidebar--items {
      margin: 10px auto;
      border: 1px solid #E9C46A;
      min-height: 300px;
      border-radius: 30px;
      border-top-right-radius: 0;
      padding: 30px; }
  .main-content {
    border-radius: 15px;
    padding: 15px;
    width: 90%; } }
.main-content {
  margin: 10px auto;
  border: 1px solid #E9C46A;
  min-height: 300px;
  border-radius: 30px;
  border-top-right-radius: 0;
  padding: 30px; }

.footer-container {
  margin: 10px auto;
  width: 70%; }
  .footer-container .fa, .footer-container .far, .footer-container .fas, .footer-container .fab {
    margin: 0;
    padding: 0;
    font-size: 3em;
    line-height: 1.5em; }
  .footer-container .fa:hover, .footer-container .fab:hover, .footer-container .fas:hover, .footer-container .far:hover {
    color: #00BFB3; }
  .footer-container--icon1, .footer-container--icon2, .footer-container--icon3 {
    border: 1px solid #E9C46A;
    display: inline-block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    color: #E9C46A; }
  .footer-container--icon2 {
    margin: 0 -25px; }
  .footer-container a:link, .footer-container a:visited {
    color: inherit; }

/*# sourceMappingURL=style.css.map */
