{% extends 'aboutme/base.html' %}

{% block title %}Felix Mutinda | Home {% endblock %}

{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'aboutme/css/style.css' %}" type="text/css" media="all" />
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <section class="header">
            <div class="col-md-11 header-bar">
                <div class="row float-right header-bar--container">
                    
                    <div class="col-xs-5 header-bar--container--info float-left">
                        <span class="header-bar--container--info-title">Felix Mutinda.</span>
                        <span class="header-bar--container--info-footer">Software Developer,</span>
                        <span class="header-bar--container--info-footer">Applied Math Enthusiast.</span>
                    </div>
                    
                    <div class="col-xs-5 float-right header-bar--container--brand">
                        <div class="brand-inner-circle">
                            <img id="brand-image-1" src="{% static 'aboutme/images/profile.jpg'%}" alt="Brand Image" />
                        </div>
                    </div>
                </div>
                
                <div class="clearfix"></div>
                <!--<hr id="header-divider" />-->
            </div>
        </section>
        
        <section class="main">
            <div class="row">

                <div class="col-xs-12 main-content">
                    <p>
                        I learned Ruby on Rails, built an app and deployed on Heroku. Full of curiosity and energy and went and 
                        introduced myself to Python/Django. Now I build and maintain full fledged web applications using
                        techonologies like Django, jQuery, React.js, and deploy those on Heroku using wsgi(Guincorn).
                    </p>
                    <p>
                        Am a scientist and beleive Big data and ML are going to be the drivers of our future economy, that's why
                        I am doing a Master of Science in Applied Mathematics to better equip myself with the skills of tomorrow.
                        <em><strong>Hire me today and turn your project into reality.</strong></em>
                    </p>
                </div>
            </div>
        </section>
        
        <section class="footer">
            <div class="row footer-container">
               
                <div class="col-xs-4 footer-container--icon1" title="GitHub">
                    <a href="https://github.com/Felix-Mutinda"><i class="fa fa-github "></i></a>
                </div>
                
                <div class="col-xs-4 footer-container--icon2" title="Gmail: 1mutindafelix@gmail.com">
                    <a href="#"><i class="fa fa-paper-plane "></i></a>
                </div>
                
                <div class="col-xs-4 footer-container--icon3" title="LinkedIn">
                    <a href="https://ke.linkedin.com/in/felix-isaiah-9a026b158"><i class="fa fa-linkedin "></i></a>
                </div>
                
            </div>
        </section>
    </div>
{% endblock %}