
{% block link %}
    {% load static %}
{% endblock %}

<ul style="list-style:none;padding:0;margin:0">
    <li style="list-style:none;padding:0;margin:0">
        <h3><a href="https://hiresafe.herokuapp.com/">Hiresafe</h3></a>
        <p>
            A web based platform which connects car hires to car owners
            directly in a peer to peer model.
            This help car owners to rent out their idle cars and commuters
            who wish to hire the cars at an affordable rate.
        </p>
    </li>
</ul>